snippet date "YYYY-MM-DD" w
`!v strftime("%Y-%m-%d")`
endsnippet

snippet emda "Em Dash" w
—
endsnippet

snippet delta "Delta" w
Δ
endsnippet

snippet forall "for all" w
∀
endsnippet

snippet larr "left arrow" w
⟵
endsnippet

snippet rarr "right arrow" w
⟶
endsnippet
